body{
    margin-top: 20px;
    background-color: floralwhite;
}

.main{
padding: 15px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.topbar{
    background-color: lightcyan;
    overflow: hidden;
    position:relative;
}

.wrapper{
    margin: auto;
    width: 75%;
    max-width: fit-content;
    min-width:550px;
    height: 400px;
    background: lightcyan;
    border-radius: 10px;
    color: gray;
    display: inline-block;
    margin-right: 25px;
    border-radius: 25px;
    margin-left: 25px;
    background-image: linear-gradient(lightcyan, lightgray);
}

.wrapper img{
    margin: auto;
    width: 100%;
    max-width: fit-content;
    margin-left: 5px;
}

.topbar a{
float:right;
color: gray;
text-align: center;
padding: 15px 10px;
text-decoration: none;
font-size: 18px;
}
a:hover {
    background-color: darkcyan;
    color: floralwhite;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    float: right;
    padding: 5px 5px;
    color: gray;
    background-color: lightcyan;
}

h2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 14px;
text-decoration: underline;
text-align: center;
float: left;
padding: 5px 5px;
color: gray;
}

h3{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: gray;
    padding-top: 5px;
    text-decoration: underline;
}

h4{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: gray;
    font-style: italic;
}



